<!DOCTYPE html>
<html>

<head>
  <title>Edit mode</title>
</head>

<body>
    <h1>Edit mode</h1>
    <form action="/update_post" method="post">
        <p>
            Title: <br />
            <input type="text" name="title" value="{{ post.title }}" />
        </p>
        <p>
            Description: <br />
            <textarea name="description" rows="8" cols="70">{{ post.description }}</textarea>
        </p>
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <input type="submit" value="Update post" size="10" />
    </form>
</body>

</html>