{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Search</title>
</head>

<body>
  <h2>What are you looking for?</h2>

  <form action="/find_post" method="get">
    <p>
      <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Search">
  </form>

  {% if query %}
  <h2>Results</h2>
  {% endif %}

  <ul>
    {% for post in results %}
    <li><a href="/post/{{ post.id }}">{{ post.title | safe }}</a></li>
    {% endfor %}
  </ul>
</body>
{% endblock %}