{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/main.css">
    <title>Search</title>
</head>

<body>
  <h2>What are you looking for?</h2>

  <form action="/find_post" method="get">
    <p>
      <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Search">
  </form>

  {% if query %}
  <h2>Results</h2>
  {% endif %}

  {% for post in results %}
  <div class="post_wall">
      <a href="/post/{{ post.id }}" style="font-weight: bold;">{{ post.title | safe }}</a> <br />
      by <a href="/user/{{ post.user_id }}">{{ post.username | safe }}</a>
  </div>
  {% endfor %}

  <div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('find_post', query=query, page=page-1) }}">&laquo; Previous</a>
    {% endif %}
    
    {% for p in range(1, total_pages+1) %}
        {% if p == page %}
            <strong>{{ p }}</strong>
        {% else %}
            <a href="{{ url_for('find_post', query=query, page=p) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if page < total_pages %}
        <a href="{{ url_for('find_post', query=query, page=page+1) }}">Next &raquo;</a>
    {% endif %}
</div>

</body>
{% endblock %}