<!DOCTYPE html>
<html>

<head>
  <title>BotanID</title>
</head>

<body>
  <h1>BotanID</h1>

  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}, your user ID is {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login"> Log in </a>
    <a href="/register"> Create user </a>
    <a href="/logout"> Log out </a>
  </p>

  <p>
    <a href="/new_post">Ask the community</a>
    <a href="/find_post">Search for posts</a>
  </p>

  <h2>All posts</h2>
  <ul>
      {% for post in posts %}
      <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>

</body>

</html>