{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Homepage</title>
</head>

<body>
  <p>
    {% if not session.username %}
    <h2>Welcome to the green side. <br></h2>
    <a href="/login"> Log in </a> |
    <a href="/register"> Create account </a>
    {% endif %}
    {% if session.username %}
    <h2>Welcome back, {{ session.username | safe }}</h2>
    <a href="/logout"> Log out </a> <br>
    {% endif %}
  </p>

  <div class="new_post">
    <a href="/new_post">Ask the community</a>
  </div>

  <h3>All posts</h3>
  <div class="topic-nav">
    Browse by topic: 
    <a href="{{ url_for('posts_by_topic', topic='Plant ID') }}">Plant ID</a> |
    <a href="{{ url_for('posts_by_topic', topic='Plant care') }}">Plant care</a> |
    <a href="{{ url_for('posts_by_topic', topic='Plant hospital') }}">Plant hospital</a>
  </div>
  {% for post in posts %}
  <div class="post_wall">
    <a href="/post/{{ post.id }}" style="font-weight: bold;">{{ post.title | safe }}</a> <br />
    by <a href="/user/{{ post.user_id }}">{{ post.username | safe }}</a> <br />
    {{ post.comment_count }} comment{% if post.comment_count != 1 %}s{% endif %}
  </div>
  {% endfor %}

  <div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('index', page=page-1) }}">&laquo; Previous</a>
    {% endif %}
    
    {% for p in range(1, total_pages+1) %}
        {% if p == page %}
            <strong>{{ p }}</strong>
        {% else %}
            <a href="{{ url_for('index', page=p) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}

    {% if page < total_pages %}
        <a href="{{ url_for('index', page=page+1) }}">Next &raquo;</a>
    {% endif %}
  </div>

</body>
{% endblock %}