<!DOCTYPE html>
<html>

<head>
  <title>Ask the community</title>
</head>

<body>
    {% if session.username %}
    <h1>New post</h1>
    <form action="/create_post" method="post" enctype="multipart/form-data">
        <p>
            Title: <br />
            <input type="text" name="title" maxlength="50" required />
        </p>
        <p>
            Add image: <input type="file" name="image" accept=".jpg, .jpeg" />
        </p>
        <p>
            Description: <br />
            <textarea name="description" rows="8" cols="70" maxlength="1000" required ></textarea>
        </p>
        <p>
            Topic: <br />
            <input type="radio" id="plantid" name="topic" value="Plant ID" required>
            <label for="plantid">Plant ID</label><br>

            <input type="radio" id="plantcare" name="topic" value="Plant care" required>
            <label for="plantcare">Plant care</label><br>

            <input type="radio" id="Plant hospital" name="topic" value="Plant hospital" required>
            <label for="planthospital">Plant hospital</label><br>
        </p>
        <input type="submit" value="Post" size="10" />
    </form>
    <p>
        <a href="/">Back</a>
    </p>
    {% else %}
    <h1>Log in to post</h1>
    <p>
        <a href="/login">Log in</a>
    </p>
    <p>
        <a href="/">Back</a>
    </p>
    {% endif %}
</body>

</html>