{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Register as a new user</title>
</head>

<body>
  <form action="/create_user" method="post" class="centered-form">
    <h4>
      Username: <br />
      <input type="text" name="username" />
    </h4>
    <h4>
      Password: <br />
      <input type="password" name="password1" />
    </h4>
    <h4>
      Repeat password: <br />
      <input type="password" name="password2" />
    </h4>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Register" />
  </form>
</body>
{% endblock %}