<!DOCTYPE html>
<html>

<head>
  <title>Register as a new user</title>
  <link rel="stylesheet" href="mystyle.css">
</head>

<body>
  <form action="/create_user" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create an account" />
  </form>
</body>

</html>
 