<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
</head>

<body>
    <h1>{{ post.title }}</h1>
    {% if session.user_id == post.user_id %}
    <p>
        <a href="/edit_post/{{ post.id }}">Edit post</a>
        <a href="/remove_post/{{ post.id }}">Delete post</a>
    </p>
    {% endif %}
    {% if post.image %}
    <br>
    <img src="data:image/jpeg;base64,{{ post.image | b64encode }}" style="max-width: 300px; max-height: 300px;">
    <br>
    {% endif %}
    <p> 
        {{ post.description }}
    </p>
    <p> 
        Topic: <a href="/posts{{ post.topic }}" >{{ post.topic }}</a>
    </p> 
    <p>
        User: <a href="/user/{{ post.user_id }}" >{{ post.username }}</a>
    </p>
    <h2>Community comments</h2>

    {% if comments %}
        <ul>
            {% for comment in comments %}
            <li>{{ comment.comment }}
                <a href="/user/{{ comment.user_id }}" > {{ comment.username }}</a>  
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments yet. Help them out!</p>
    {% endif %}

    
    <form action="/comment" method="post">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <textarea name="comment" rows="4" cols="40" maxlength="1000" required></textarea>
        <input type="submit" value="Comment" />
    </form>
    <p>
        <a href="/">Go back</a>
    </p>
</body>

</html>