{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>{{ user.username | safe }}'s profile</title>
</head>

<body>
    <h2>You are viewing {{ user.username | safe }}'s profile</h2>
    <div class="user-stats">
        <p>
            {{ posts | count }} post{% if posts | count != 1 %}s{% endif %} published <br />
            {{ comment_count }} comment{% if comment_count != 1 %}s{% endif %} made
        </p>
    </div>

    <h3>Posts</h3>
    {% if posts %}
        {% for post in posts %}
        <div class="post_wall">
        <a href="/post/{{ post.id }}" style="font-weight: bold;">{{ post.title | safe }}</a> <br />
        {{ post.comment_count }} comment{% if post.comment_count != 1 %}s{% endif %}
        </div>
        {% endfor %}
    {% else %}
        <p>{{ user.username | safe }} hasn't posted anything yet.</p>
    {% endif %}
</body>
{% endblock %}