<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
</head>

<body>
    <h1>{{ post.title }}</h1>
    {% if session.user_id == post.user_id %}
    <p>
        <a href="/edit_post/{{ post.id }}">Edit post</a>
        <a href="/remove_post/{{ post.id }}">Delete post</a>
    </p>
    {% endif %}
    <p> 
        {{ post.description }}
    </p>
    <p> 
        Topic: <a href="/posts{{ post.topic }}" >{{ post.topic }}</a>
    </p> 
    <p>
        User: <a href="/user/{{ post.user_id }}" >{{ post.username }}</a>
    </p>
    <p>
        <a href="/">Go back</a>
    </p>
</body>

</html>